@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Car Insurance Quote Calculation Tool</h1>
    <p>We value your money.</p>
        <div class="display-4">
            <a asp-controller="Insurees" a asp-action="Create">Calculate a Quote Here</a>
        </div>
</div>
